<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[% c.config.param('service_name') %]</title>

    [% INCLUDE "_javascript.tt" %]
    [% INCLUDE "_css.tt" %]
  </head>
  <body>
    <div class="error-img">
    </div>
    <p class="error-box">[% $message %]</p>
  </body>
</html>
